.headline {
    font-size: clamp(50px, 8vw, 90px);
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: rgba(78, 51, 69, 0.95);

    margin-bottom: 40px;
    line-height: 1.1;
}


.intro-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;
}


.intro-block .profile-img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 40px;
    margin: 20px 0 0 0; 
    display: block;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transform: scale(0.9);
    transition: transform 0.6s ease;
}

.intro-block .profile-img:hover {
    transform: scale(1);
}
